.collection-background{
    width: 100vw;
    height: 93vh;
    position: absolute;
    top: 55px;
    left: 0;
}
.close-button{
    position: absolute;
    top: 65px;
    right: 20px;
    z-index: 101;
}
.list-item{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 95vh;
    left: 0;
    right: 0;
    margin: auto;
    flex-wrap: wrap;
    top: 50px;
    overflow-y: scroll;
    padding: 0 168px ;
   
}