.collection{
    width: 16rem;
    height: 24rem;
    background-color:#00000090;
    color:#f5f3fb;
    margin: 1rem;
    border: 2px solid #000 ;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}